@import compass/reset.sass

#header
  .nav,
  .aside
    display: none

#content
  .aside
    display: none

#footer
  .bottom_nav
    display: none
  #foot_bottom
    .affiliate,
    h6
      display: none
    h6.copyright
      display: block


