<div class="code-wrapper">
<table id="haml-sucks-example-1" class="comparison">
<tr>
<th class="window-title">Paragraph of Content in Haml</th>
</tr>
<tr>
<td valign="top" class="window editor">
<div>
<pre><code class="haml">%p
  Please,
  %strong
    For the love of
    = succeed "," do
      %a(href="http://www.god.com/") God
  don't use
  %a(href="http://haml-lang.com") Haml
  for marking-up your content!
</code></pre></div>
</td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
<th class="window-title">Paragraph of Content in Markdown</th>
</tr>
<tr>
<td valign="top" class="window editor">
<div class="highlight"><pre><code>Please, \*\*For the love of \[God](http://www.god.com/),\*\*
don't use \[Haml](http://haml-lang.com) for marking-up your content!
</code></pre></div>
</td>
</tr>
</table>
</div>
