---
layout: oss
body_id: projects
title: "#chris-eppstein {position: unique;} - My Projects"
description: "A summary of the companies, websites, and projects I've been a part of"
---

%h2 Open Source Projects
.section
  %h3.header Compass
  .article
    %small.soft.block Stylesheet Authoring Framework
    %p Compass is a Stylesheet Authoring Environment that makes your website design simpler to implement and easier to maintain.
  .footer
    %a(href="http://compass-style.org") View Site &rarr;
.section
  %h3.header Sass
  .article
    %small.soft.block Alternate CSS Syntax 
    %p Sass makes CSS fun again. Sass is CSS, plus nested rules, variables, mixins, and more, all in a concise, readable syntax.
  .footer
    %a(href="http://sass-lang.com/") View Site &rarr;

%h2 Websites
.section
  %h3.header Whatsbetter.com
  .article
    %small.soft.block Entertainment
    %p By forcing users to choose the better of two randomly paired items, we sorted the universe somewhat objectively. Had tons of traffic and no way to monetize it. In retrospect, I blew it.
