---
layout: default
body_id: work
nav: work
title: "Chris Eppstein - My Projects"
description: "A summary of the companies, websites, and projects I've been a part of"
---

%h2 My Work
%p
  %em.sub_heading Places I've worked
.section
  %h3.header Caring.com
  .article
    %small.soft.block Software Architect
    %p I was the first employee of Caring.com and I helped them design and build it from concept to market leader in less than two years. I still work here and I love it.
.section
  %h3.header Teneros
  .article
    %small.soft.block UI Architect
    %p I built the entire Web Management UI for Teneros's flagship product. In python. I also built the web framework that it ran on because Django didn't exist yet.
.section
  %h3.header ITM Software
  .article
    %small.soft.block UI Architect
    %p ITM Software built a suite of web-based IT Business Management Applications. I architected and led development on 3 of the 6 apps that they built. In Java.
.section
  %img.right(src="/images/logo_terraspring.png")
  %h3.header Terraspring
  .article
    %small.soft.block Lead UI Engineer
    %p Terraspring was about 10 years ahead of its time. We invented utility computing (as in we coined the phrase), but didn't get anyone rich. Especially me. But I learned to be an engineer while working there with some of the most amazing engineers I've ever met. I implemented a Visio-like graphical network editor with a drag and drop UI for creating and managing virtual networks -- in IE5. I got very good at javascript there.

%h2 Open Source Projects
.section
  %h3.header Compass
  .article
    %small.soft.block Stylesheet Authoring Framework
    %p Compass is a Stylesheet Authoring Environment that makes your website design simpler to implement and easier to maintain.
  .footer
    %a(href="http://compass-style.org") View Site &rarr;
.section
  %h3.header Sass
  .article
    %small.soft.block Alternate CSS Syntax 
    %p Sass makes CSS fun again. Sass is CSS, plus nested rules, variables, mixins, and more, all in a concise, readable syntax.
  .footer
    %a(href="http://sass-lang.com/") View Site &rarr;

%h2 Websites
.section
  %h3.header Whatsbetter.com
  .article
    %small.soft.block Entertainment
    %p By forcing users to choose the better of two randomly paired items, we sorted the universe somewhat objectively. Had tons of traffic and no way to monetize it. In retrospect, I blew it.
