body#post .blog
  .metadata
    color: #666666
    font-size: 80%
    display: block
    padding-bottom: 20px
    margin-bottom: 20px
    border-bottom: 1px solid #ededed
  h2
    margin-bottom: 0.4em
  .footer
    font-size: inherit
    margin-bottom: 0
    padding-bottom: 0
    border-bottom: 0

.blog
  .section
    position: relative
    margin: 25px 0 0
    border-bottom: 1px solid #ededed

.blog
  .section
    .header
      padding: 5px 0 0
      margin-bottom: 18px
      &.link
        font-size: 135%
        letter-spacing: 0
        a.title
          text-decoration: underline
        a.permalink
          font-size: 95%
          line-height: 120%
          font-weight: bold
          vertical-align: top
          margin-top: 1px
          color: #cccccc !important
          text-decoration: none
          padding-left: 4px
          &:hover
            background: #aaaaaa !important
            color: white !important
      a
        text-decoration: none
      a.title
        padding: 0 4px 0 2px

.blog
  .section
    .vr
      display: inline-block
      border-left: 1px solid #999999
      width: 0
      margin: 0 4px
      line-height: 120%

.blog
  .section
    .footer
      padding-top: 10px
      padding-bottom: 35px
      font-size: 80%
      .comments_off
        color: #666666
        font-size: 95%

.blog.mini
  background: url(/images/section_shadow_bg.png) repeat-x left 1px
  padding: 1px 0
  .header
    margin-top: 5px
    margin-bottom: 20px

#post .blog .section
  border-bottom: none

.article img.photo
  +box-shadow
  float: right
  margin: 0 5px
