---
layout: default
body_id: archives
title: "#chris-eppstein {position: unique;} - Archives"
empty_sidebar: true
bottom_nav: <a href="/blog/">View the blog &rarr;</a>
---
%h2(style="margin-top:0") Post Archives

- posts = blog_posts.reject{|p| p.attempt(:draft)}.group_by { |p| p.date.strftime("%Y") }
- posts.keys.sort.reverse.each do |year|
  %h3= year
  %ul
    - posts[year].sort_by(&:date).reverse.each do |post|
      %li(class="#{post.attempt(:link) ? "link" : nil }")
        - if post.respond_to?(:title)
          %a{:href=>path_to(post)}= post.title
        - else
          %a{:href=>path_to(post)} No Title
        %span.pubdate= post.date.strftime("%d %b, %Y")
