---
layout: default
body_id: blog
title: "#chris-eppstein {position: unique;} - Blog"
bottom_nav: <a href="/blog/archives.html">&larr; Read more at the archives</a>
---
.blog
  - blog_posts.reject{|p| p.attempt(:draft)}.sort_by(&:date).reverse.each_with_index do |post,index|
    - if index > 0
      %hr
    .section
      - if post.attempt(:link)
        %h3.header.link
          %a{:href=>post.link, :class => "title"}= rp(post.title)
          %a.permalink{:href=>full_url(post)} &infin;
      - else
        %h3.header
          %a{:class=>"title", :href=>full_url(post)}= rp(post.title)
      - if post.respond_to?(:description)
        .article
          %p= rp post.description
      .footer
        - if post.attempt(:comments_off)
          %em.comments_off Comments disabled
        - else
          %a{:href=>"#{full_url(post)}/#disqus_thread"} Leave a Comment &raquo;
:javascript
  (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/chriseppstein/get_num_replies.js' + query + '"></' + 'script>');
                  })();
