<div class="code-wrapper">
<table id="simple-class-inheritance" class="comparison side-by-side">
<tr>
<th class="window-title">CSS</th>
</tr>
<tr>
<td valign="top" class="window editor">
<pre><code class="css">.rounded-box {
  border-radius: 5px;
}

/*@unsupported border-radius {*/
  /* This is seen by browsers that don't support @unsupported.
     This is ignored by browsers that support the feature query.  */
  .rounded-box {
    background: #fff url(rounded.png) top left;
    padding-left: 5px;
  }
  .rounded-box span.right-side {
    background: #fff url(rounded.png) top right;
    padding-right: 5px;
  }
/*}*/
</code></pre>
</td>
</tr>
</table>
</div>
