project_type = :stand_alone
http_path = "/"
sass_dir = "content/stylesheets"
css_dir = "output/stylesheets"
images_dir = "content/images"
http_images_path = "/images"
javascripts_dir = "content/javascripts"
http_javascripts_path = "/javascripts"
extensions_dir = "compass_extensions"
output_style = :compact
line_comments = false