/* line 14, ../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white; }

/* line 19, ../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 21, ../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 23, ../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 25, ../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" ""; }
  /* line 96, ../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 27, ../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 1, ../../_source/stylesheets/partials/typography/_base.sass */
body {
  font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  line-height: 1.5; }

/* line 6, ../../_source/stylesheets/partials/typography/_base.sass */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  font-family: "Helvetica Neue", Helvetica, Lucida, Verdana, sans-serif;
  color: #444444;
  font-weight: bold; }

/* line 11, ../../_source/stylesheets/partials/typography/_base.sass */
em {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 110%; }

/* line 15, ../../_source/stylesheets/partials/typography/_base.sass */
span.highlight, em.highlight, strong.highlight {
  background-color: #ffff66;
  padding: 2px;
  margin: 0 -2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }

/* line 21, ../../_source/stylesheets/partials/typography/_base.sass */
p {
  padding-bottom: 18px; }

/* line 24, ../../_source/stylesheets/partials/typography/_base.sass */
h1 {
  font-size: 300%;
  line-height: 110%;
  margin-top: 0.5em;
  margin-bottom: 0.7em; }

/* line 30, ../../_source/stylesheets/partials/typography/_base.sass */
h2 {
  font-size: 250%;
  line-height: 110%;
  margin-top: 0.5em;
  margin-bottom: 0.7em; }

/* line 36, ../../_source/stylesheets/partials/typography/_base.sass */
h3 {
  font-size: 200%;
  margin-top: 1em;
  line-height: 110%;
  margin-bottom: 0.5em; }

/* line 42, ../../_source/stylesheets/partials/typography/_base.sass */
h4 {
  font-size: 140%;
  margin-top: 1.5em;
  margin-bottom: 0.5em; }

/* line 47, ../../_source/stylesheets/partials/typography/_base.sass */
h5 {
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: 0.5em; }

/* line 52, ../../_source/stylesheets/partials/typography/_base.sass */
h6 {
  font-size: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em; }

/* line 57, ../../_source/stylesheets/partials/typography/_base.sass */
blockquote {
  border-left: 2px solid #343434;
  padding: 0px 2em 0px 1em;
  margin: 0 0 15px 1.4em;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-size: 1.3em; }
  /* line 64, ../../_source/stylesheets/partials/typography/_base.sass */
  blockquote p {
    color: #646464 !important;
    padding-bottom: 0 !important; }

/* line 68, ../../_source/stylesheets/partials/typography/_base.sass */
.source {
  text-align: right;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-size: 1.1em;
  color: #888888;
  padding-bottom: 1em; }

/* line 76, ../../_source/stylesheets/partials/typography/_base.sass */
strong {
  font-weight: bold; }

/* line 79, ../../_source/stylesheets/partials/typography/_base.sass */
em {
  font-style: italic; }

/* line 82, ../../_source/stylesheets/partials/typography/_base.sass */
small {
  font-size: 80%; }

/* line 85, ../../_source/stylesheets/partials/typography/_base.sass */
.ucase {
  text-transform: uppercase; }

/* line 88, ../../_source/stylesheets/partials/typography/_base.sass */
.amp {
  font-family: Baskerville, Palatino, Times, "Times New Roman", serif;
  font-style: italic; }

/* line 92, ../../_source/stylesheets/partials/typography/_base.sass */
pre {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  line-height: 1.5; }

/* line 96, ../../_source/stylesheets/partials/typography/_base.sass */
pre + p {
  margin-top: 1em; }

/* line 99, ../../_source/stylesheets/partials/typography/_base.sass */
code {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace; }

/* line 102, ../../_source/stylesheets/partials/typography/_base.sass */
li {
  line-height: 1.5; }

/* line 2, ../../_source/stylesheets/partials/typography/_header.sass */
#header h1, #header h2 {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  line-height: 1; }
/* line 5, ../../_source/stylesheets/partials/typography/_header.sass */
#header h1 {
  font-size: 2em;
  margin-top: 20px; }
/* line 8, ../../_source/stylesheets/partials/typography/_header.sass */
#header h2 {
  font-size: 2em; }
/* line 10, ../../_source/stylesheets/partials/typography/_header.sass */
#header .nav a {
  font-size: 1.25em;
  text-transform: lowercase;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace; }

/* line 16, ../../_source/stylesheets/partials/typography/_header.sass */
#header #blog-links {
  font-size: 13px; }
  /* line 18, ../../_source/stylesheets/partials/typography/_header.sass */
  #header #blog-links #rss {
    text-decoration: none; }
    /* line 20, ../../_source/stylesheets/partials/typography/_header.sass */
    #header #blog-links #rss span {
      text-decoration: underline; }

/* line 24, ../../_source/stylesheets/partials/typography/_header.sass */
#search #q {
  font-size: 15px; }

/* line 1, ../../_source/stylesheets/partials/typography/_sidebar.sass */
#sidebar {
  font-size: 90%; }
  /* line 3, ../../_source/stylesheets/partials/typography/_sidebar.sass */
  #sidebar h3, #sidebar h4, #sidebar h5 {
    color: #333333; }
  /* line 6, ../../_source/stylesheets/partials/typography/_sidebar.sass */
  #sidebar .section .header span {
    font-size: 90%; }
  /* line 8, ../../_source/stylesheets/partials/typography/_sidebar.sass */
  #sidebar .section h3 {
    font-size: 160%;
    margin: 10px 0 12px; }
  /* line 11, ../../_source/stylesheets/partials/typography/_sidebar.sass */
  #sidebar .section ul {
    list-style: disc; }

/* line 3, ../../_source/stylesheets/partials/typography/_blog.sass */
.blog .section .article {
  clear: left; }
  /* line 5, ../../_source/stylesheets/partials/typography/_blog.sass */
  .blog .section .article p {
    font-size: 110%;
    line-height: 150%;
    color: #333333;
    padding-bottom: 15px; }
  /* line 10, ../../_source/stylesheets/partials/typography/_blog.sass */
  .blog .section .article img {
    border: none; }
    /* line 12, ../../_source/stylesheets/partials/typography/_blog.sass */
    .blog .section .article img.left {
      display: inline;
      float: left;
      margin-right: 15px;
      margin-bottom: 15px; }
    /* line 16, ../../_source/stylesheets/partials/typography/_blog.sass */
    .blog .section .article img.right {
      display: inline;
      float: right;
      margin-right: 15px;
      margin-bottom: 15px; }
  /* line 20, ../../_source/stylesheets/partials/typography/_blog.sass */
  .blog .section .article dl {
    padding-bottom: 15px; }
    /* line 22, ../../_source/stylesheets/partials/typography/_blog.sass */
    .blog .section .article dl dt {
      font-weight: bold;
      float: left;
      clear: left;
      margin-right: 7px; }
      /* line 27, ../../_source/stylesheets/partials/typography/_blog.sass */
      .blog .section .article dl dt:after {
        content: " \2014"; }
    /* line 29, ../../_source/stylesheets/partials/typography/_blog.sass */
    .blog .section .article dl dt, .blog .section .article dl dd {
      margin-top: 0.5em; }
    /* line 31, ../../_source/stylesheets/partials/typography/_blog.sass */
    .blog .section .article dl dt:first-child {
      margin-top: 0; }
    /* line 33, ../../_source/stylesheets/partials/typography/_blog.sass */
    .blog .section .article dl dt, .blog .section .article dl dd {
      line-height: 150%; }
  /* line 35, ../../_source/stylesheets/partials/typography/_blog.sass */
  .blog .section .article ul {
    list-style-type: disc;
    margin-left: 1em; }
  /* line 38, ../../_source/stylesheets/partials/typography/_blog.sass */
  .blog .section .article ol {
    list-style-type: decimal;
    margin-left: 1.5em; }
  /* line 42, ../../_source/stylesheets/partials/typography/_blog.sass */
  .blog .section .article ol + p, .blog .section .article ul + p {
    margin-top: 1em; }

/* line 11, ../../_source/stylesheets/print.sass */
#header .nav,
#header .aside {
  display: none; }

/* line 16, ../../_source/stylesheets/print.sass */
#content .aside {
  display: none; }

/* line 20, ../../_source/stylesheets/print.sass */
#footer .bottom_nav {
  display: none; }
/* line 23, ../../_source/stylesheets/print.sass */
#footer #foot_bottom .affiliate,
#footer #foot_bottom h6 {
  display: none; }
/* line 26, ../../_source/stylesheets/print.sass */
#footer #foot_bottom h6.copyright {
  display: block; }

/* line 30, ../../_source/stylesheets/print.sass */
table.side-by-side td, table.side-by-side th {
  width: 49%; }
  /* line 32, ../../_source/stylesheets/print.sass */
  table.side-by-side td.gap, table.side-by-side th.gap {
    width: 2%; }

/* line 35, ../../_source/stylesheets/print.sass */
table.comparison {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 2em; }

/* line 41, ../../_source/stylesheets/print.sass */
.window {
  border: 2px solid #aaaaaa; }

/* line 44, ../../_source/stylesheets/print.sass */
body#stylesheet #page div.window,
table td.window {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  vertical-align: top;
  border-top-width: 0;
  padding: 0.5em; }

/* line 51, ../../_source/stylesheets/print.sass */
body#stylesheet #page h1,
table th.window-title {
  border: 2px solid #aaaaaa;
  text-align: center;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  border-bottom: 1px solid #aaaaaa; }

/* line 59, ../../_source/stylesheets/print.sass */
a {
  text-decoration: none;
  color: inherit;
  font-weight: 500; }
  /* line 63, ../../_source/stylesheets/print.sass */
  a:after {
    content: " (" attr(href) ")";
    color: #777777; }
