html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

#footer-wrapper { background: #1c1c1c url(/images/footer_bg.png) repeat-x top; padding-bottom: 45px; }

#footer { color: #d8d8d8; }
#footer .bottom_nav { font-size: 70%; }
#footer .bottom_nav a { color: #aaaaaa; /* Mozilla (FireFox, Camino) */ -moz-border-radius: 3px; /* Webkit (Safari, Chrome) */ -webkit-border-radius: 3px; /* CSS3 */ border-radius: 3px; display: inline-block; margin: 20px 0 0 10px; }
#footer .bottom_nav a:hover { background-color: #aaaaaa; color: black; text-decoration: none; }
#footer .bottom_nav { float: right; }

#foot_bottom { width: 95.918%; display: inline; float: left; margin-right: 2.041%; padding: 10px 0; margin-top: 15px; margin-bottom: 15px; border-top: 1px solid #4d4d4d; }
#foot_bottom a { color: #999999; /* Mozilla (FireFox, Camino) */ -moz-border-radius: 3px; /* Webkit (Safari, Chrome) */ -webkit-border-radius: 3px; /* CSS3 */ border-radius: 3px; }
#foot_bottom a:hover { background-color: #999999; color: black; text-decoration: none; }
#foot_bottom.alone { border-top: 0; width: 71.429%; display: inline; float: left; margin-right: 2.041%; }
#foot_bottom h6 { color: #767676; margin: 0; padding: 0; border: 0; outline: 0; padding: 0 5px; font-size: 75%; text-transform: uppercase; float: left; display: inline-block; }
#foot_bottom a.affiliate { margin: 0; padding: 0; border: 0; outline: 0; background: url('/images/association_logos.png?1311365906') no-repeat; width: 34px; height: 38px; overflow: hidden; float: left; display: inline-block; margin: 0 5px 0 0; opacity: 0.7; -moz-opacity: 0.7; -khtml-opacity: 0.7; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); filter: alpha(opacity=70); text-indent: -9999em; }
#foot_bottom a.affiliate:hover { opacity: 1; -moz-opacity: 1; -khtml-opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: alpha(opacity=100); }
#foot_bottom a.affiliate:hover { background-color: none; }
#foot_bottom a.affiliate.compass { background-position: 0px 0px; }
#foot_bottom a.affiliate.compass:hover { background-position: 0px -38px; }

#header .title { width: 30.612%; display: inline; float: left; margin-right: 2.041%; }
#header .nav { width: 38.776%; display: inline; float: left; margin-right: 2.041%; min-width: 450px; }
#header .nav, #header .aside { float: right; }
#header .aside { min-width: 200px; }

#header .title { padding: 0; height: 110px; }
#header .title h1, #header .title h2 { font-size: 18px; margin-left: 62px; }
#header .title h1 { margin-top: 45px; }
#header .title h2 { margin-top: -4px; }
#header .nav ul { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; *zoom: 1; }
#header .nav ul li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
#header .nav ul li:first-child, #header .nav ul li.first { padding-left: 0px; }
#header .nav ul li:last-child, #header .nav ul li.last { padding-right: 0px; }
#header .nav ul li { padding: 20px 25px; }

#header .aside { position: relative; height: 90px; padding-top: 20px; }
#header #blog-links { position: absolute; bottom: 10px; left: 0px; }
#header #archive { display: inline-block; border-left: 1px solid #444444; padding-left: 12px; margin-left: 8px; }

#header #search form { padding: 2px 0 0; height: 28px; width: 218px; }
#header #search #q { width: 160px; margin-left: 30px; }

body { text-align: center; font-size: 87.5%; line-height: 142.857%; }

#header, #content, #footer { overflow: hidden; *zoom: 1; text-align: left; margin-left: auto; margin-right: auto; width: 147em; max-width: 100%; }
#header-wrapper, #content-wrapper, #footer-wrapper { padding: 0 4em; }

#content { min-width: 61.429em; }

.aside { width: 22.449%; display: inline; float: left; margin-right: 2.041%; margin-right: 2.041%; /* ugly hacks for IE6-7 */ #margin-right: 1.041%; /* end ugly hacks */ }
.aside .section { padding-top: 22px; padding-left: 10px; }

#page { width: 71.429%; display: inline; float: left; margin-right: 2.041%; min-width: 45em; min-height: 100%; margin-left: 0; }
#page .contents { overflow: hidden; *zoom: 1; padding-bottom: 1em; }

#sidebar #about-me img.avatar { float: left; margin-right: 10px; margin-bottom: 10px; }

.blog .section .article .window > div { max-height: 25em; overflow-y: auto; }

#tweet-this { float: right; }

#most-recent-post.mini.blog #tweet-this { margin: 32px 0px 0px; }

body#archives #page ul { padding-bottom: 15px; }
body#archives #page a { color: #b3272d; /* Mozilla (FireFox, Camino) */ -moz-border-radius: 3px; /* Webkit (Safari, Chrome) */ -webkit-border-radius: 3px; /* CSS3 */ border-radius: 3px; font-family: "Helvetica Neue", Helvetica, Lucida, Verdana, sans-serif; font-size: 110%; font-weight: bold; }
body#archives #page a:hover { background-color: #b3272d; color: white; text-decoration: none; }
body#archives #page li { list-style: none; padding: 5px 0 5px 22px; text-indent: -22px; }
body#archives #page li span { font-size: 75%; color: #8b8b8b; }

body#post .blog .metadata { color: #666666; font-size: 80%; display: block; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #ededed; }
body#post .blog h2 { margin-bottom: 0.4em; }
body#post .blog .footer { font-size: inherit; margin-bottom: 0; padding-bottom: 0; border-bottom: 0; }

.blog .section { position: relative; margin: 25px 0 0; border-bottom: 1px solid #ededed; }

.blog .section .header { padding: 5px 0 0; margin-bottom: 18px; }
.blog .section .header.link { font-size: 135%; letter-spacing: 0; }
.blog .section .header.link a.title { text-decoration: underline; }
.blog .section .header.link a.permalink { font-size: 95%; line-height: 120%; font-weight: bold; vertical-align: top; margin-top: 1px; color: #cccccc !important; text-decoration: none; padding-left: 4px; }
.blog .section .header.link a.permalink:hover { background: #aaaaaa !important; color: white !important; }
.blog .section .header a { text-decoration: none; }
.blog .section .header a.title { padding: 0 4px 0 2px; }

.blog .section .vr { display: inline-block; border-left: 1px solid #999999; width: 0; margin: 0 4px; line-height: 120%; }

.blog .section .footer { padding-top: 10px; padding-bottom: 35px; font-size: 80%; }
.blog .section .footer .comments_off { color: #666666; font-size: 95%; }

.blog.mini { background: url(/images/section_shadow_bg.png) repeat-x left 1px; padding: 1px 0; }
.blog.mini .header { margin-top: 5px; margin-bottom: 20px; }

#post .blog .section { border-bottom: none; }

.article img.photo { -moz-box-shadow: #333333 1px 1px 5px 0; -webkit-box-shadow: #333333 1px 1px 5px 0; -o-box-shadow: #333333 1px 1px 5px 0; box-shadow: #333333 1px 1px 5px 0; float: right; margin: 0 5px; }

.byline { margin: 0 0 1em; font-weight: bold; }

#disqus_thread #dsq-login-toggle:hover, #disqus_thread .dsq-by a:hover { background: none; }
#disqus_thread a.dsq-help { border-bottom: 0 !important; text-decoration: underline !important; color: #5a9a41; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#disqus_thread a.dsq-help:hover { text-decoration: none !important; }
#disqus_thread a.dsq-help:hover { background-color: #5a9a41; color: white; text-decoration: none; }

#header-wrapper { background: #1c1c1c; }

#header { color: white; }
#header .nav a { color: #cccccc; text-decoration: none; }
#header .nav a:hover { color: white; }
#header .nav a:hover { text-decoration: underline; }
#header .title { background-image: url('/images/textmate.png?1311365906'); background-repeat: no-repeat; background-position: -5px bottom; min-width: 380px; }
#header .title .o, #header .title .k, #header .title .m { font-weight: normal; }
#header .title .o, #header .title .k { color: #ff9d00; }
#header .title .m { color: #ff628c; }

#header #blog-links a { color: #999999; }
#header #blog-links a:hover { color: white; }
#header #blog-links #rss:hover img { opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
#header #blog-links #rss img { vertical-align: -30%; margin-right: 2px; opacity: 0.7; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); }

#search form { background: url(/images/search_bg.png) no-repeat; }
#search #q { background: none; border: none; color: #aaaaaa; }
#search #q:focus { outline: none; }

body#home .nav li.home a, body#blog .nav li.blog a, body#post .nav li.blog a, body#projects .nav li.projects a, body#work .nav li.work a { color: white; }

body#home h2.description { text-transform: uppercase; margin: 32px 0 0; font-size: 125%; }

#page .header a { color: #444444; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#page .header a:hover { background-color: #444444; color: white; text-decoration: none; }
#page .article a, #page .footer a { color: #b3272d; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#page .article a:hover, #page .footer a:hover { background-color: #b3272d; color: white; text-decoration: none; }

body#project #page h2 { margin-top: 0; margin-bottom: 0.2em; padding: 0 2px; }
body#project #page p em { font-size: 100%; color: #999999; }
body#project #page .section { border-top: 1px solid #eeeeee; padding: 25px 2px 15px; overflow: hidden; *zoom: 1; }
body#project #page .section.alpha { border: none; padding-top: 0; }
body#project #page .section p, body#project #page .section .footer { font-size: 85%; }
body#project #page .section img { border: 1px solid #cccccc; background: white; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding: 3px; }
body#project #page .section .header { margin-top: 0; margin-bottom: 0.4em; }
body#project #page .section .soft { color: #999999; width: 48%; }
body#project #page .section .soft.block { border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee; display: block; padding: 3px 0; margin-bottom: 1em; }

#sidebar #social { padding-bottom: 5px; list-style: none; }
#sidebar #social li, #sidebar #social a { display: inline-block; }
#sidebar #social li a { opacity: 0.85; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); }
#sidebar #social li a:hover { opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
#sidebar #social li a { margin: 0; padding: 0; border: 0; outline: 0; background: url('/images/social.png?1311365906') no-repeat; width: 24px; height: 24px; overflow: hidden; text-indent: -9999em; }
#sidebar #social li a.twitter { background-position: 0px 0px; }
#sidebar #social li a.github { background-position: 0px -24px; }
#sidebar #social li a.facebook { background-position: 0px -48px; }
#sidebar #social li a.linkedin { background-position: 0px -72px; }
#sidebar #social li a.delicious { background-position: 0px -96px; }

#sidebar #twitter .tweet { margin-top: 8px; width: 220px; background: url(/images/tweet_bg_light.png) repeat-y center center; }
#sidebar #twitter .tweet ul { list-style-type: none; padding: 15px 15px 5px; display: inline-block; min-height: 25px; width: 190px; background: url(/images/tweet_bg_light.png) no-repeat top left; position: relative; top: -5px; overflow: hidden; }
#sidebar #twitter .tweet ul .tweet_avatar { display: none; }
#sidebar #twitter .follow { width: 220px; background: url(/images/tweet_bg_light.png) no-repeat top right; padding: 0; overflow: hidden; *zoom: 1; }

#sidebar .section p a, #sidebar .section .header a, #sidebar .section ul a { color: #b3272d; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#sidebar .section p a:hover, #sidebar .section .header a:hover, #sidebar .section ul a:hover { background-color: #b3272d; color: white; text-decoration: none; }

body { font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif; line-height: 1.5; }

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 { font-family: "Helvetica Neue", Helvetica, Lucida, Verdana, sans-serif; color: #444444; font-weight: bold; }

em { font-family: Times, "Times New Roman", Georgia, serif; font-size: 110%; }

span.highlight, em.highlight, strong.highlight { background-color: #ffff66; padding: 2px; margin: 0 -2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }

p { padding-bottom: 18px; }

h1 { font-size: 300%; line-height: 110%; margin-top: 0.5em; margin-bottom: 0.7em; }

h2 { font-size: 250%; line-height: 110%; margin-top: 0.5em; margin-bottom: 0.7em; }

h3 { font-size: 200%; margin-top: 1em; line-height: 110%; margin-bottom: 0.5em; }

h4 { font-size: 140%; margin-top: 1.5em; margin-bottom: 0.5em; }

h5 { font-size: 120%; margin-top: 1em; margin-bottom: 0.5em; }

h6 { font-size: 100%; margin-top: 1em; margin-bottom: 0.5em; }

blockquote { border-left: 2px solid #343434; padding: 0px 2em 0px 1em; margin: 0 0 15px 1.4em; font-family: Times, "Times New Roman", Georgia, serif; font-style: italic; font-size: 1.3em; }
blockquote p { color: #646464 !important; padding-bottom: 0 !important; }

.source { text-align: right; font-family: Times, "Times New Roman", Georgia, serif; font-style: italic; font-size: 1.1em; color: #888888; padding-bottom: 1em; }

strong { font-weight: bold; }

em { font-style: italic; }

small { font-size: 80%; }

.ucase { text-transform: uppercase; }

.amp { font-family: Baskerville, Palatino, Times, "Times New Roman", serif; font-style: italic; }

pre { font-family: Monaco, "Andale Mono", "Lucida Console", monospace; line-height: 1.5; }

pre + p { margin-top: 1em; }

code { font-family: Monaco, "Andale Mono", "Lucida Console", monospace; }

li { line-height: 1.5; }

#header h1, #header h2 { font-family: Monaco, "Andale Mono", "Lucida Console", monospace; line-height: 1; }
#header h1 { font-size: 2em; margin-top: 20px; }
#header h2 { font-size: 2em; }
#header .nav a { font-size: 1.25em; text-transform: lowercase; font-family: Monaco, "Andale Mono", "Lucida Console", monospace; }

#header #blog-links { font-size: 13px; }
#header #blog-links #rss { text-decoration: none; }
#header #blog-links #rss span { text-decoration: underline; }

#search #q { font-size: 15px; }

#sidebar { font-size: 90%; }
#sidebar h3, #sidebar h4, #sidebar h5 { color: #333333; }
#sidebar .section .header span { font-size: 90%; }
#sidebar .section h3 { font-size: 160%; margin: 10px 0 12px; }
#sidebar .section ul { list-style: disc; }

.blog .section .article { clear: left; }
.blog .section .article p { font-size: 110%; line-height: 150%; color: #333333; padding-bottom: 15px; }
.blog .section .article img { border: none; }
.blog .section .article img.left { display: inline; float: left; margin-right: 15px; margin-bottom: 15px; }
.blog .section .article img.right { display: inline; float: right; margin-right: 15px; margin-bottom: 15px; }
.blog .section .article dl { padding-bottom: 15px; }
.blog .section .article dl dt { font-weight: bold; float: left; clear: left; margin-right: 7px; }
.blog .section .article dl dt:after { content: " \2014"; }
.blog .section .article dl dt, .blog .section .article dl dd { margin-top: 0em; }
.blog .section .article dl dg:first-child > dt { margin-top: 0; }
.blog .section .article dl dt, .blog .section .article dl dd { line-height: 150%; }
.blog .section .article ul { list-style-type: disc; margin-left: 1em; }
.blog .section .article ol { list-style-type: decimal; margin-left: 1.5em; }
.blog .section .article ol + p, .blog .section .article ul + p { margin-top: 1em; }
.blog .section .article p code, .blog .section .article li code { font-size: 0.8em; padding: 0.1em; border: 1px solid #777777; background-color: #eeeeee; }
.blog .section .article p pre code, .blog .section .article li pre code { border: 0; }
.blog .section .article p p + pre, .blog .section .article li p + pre { background-color: #eeeeee; margin-top: -0.5em; }
.blog .section .article p pre, .blog .section .article li pre { margin: 0.5em 0; padding: 0.5em; }

.editor { background: #f4fbff; line-height: 1.25; }

.window { border: #aaaaaa ridge 6px; }
.window td { max-height: 25em; overflow-y: auto; overflow-x: auto; }
.window td.linenos { color: #777777; background-color: #cccccc; padding: 0 0.5em; }

.code-wrapper { overflow-x: auto; }

table.side-by-side td, table.side-by-side th { width: 49%; overflow-x: auto; }
table.side-by-side td.gap, table.side-by-side th.gap { width: 2%; }

table.comparison { width: 100%; margin-top: 1em; margin-bottom: 1em; }

body#stylesheet #page div.window, table td.window { vertical-align: top; border-top-width: 0; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; -o-border-bottom-left-radius: 6px; -ms-border-bottom-left-radius: 6px; -khtml-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; -o-border-bottom-right-radius: 6px; -ms-border-bottom-right-radius: 6px; -khtml-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }

body#stylesheet #page h1, table th.window-title { background-image: url('/images/window_title.png?1311365906'); text-align: center; height: 22px; line-height: 22px; -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; -o-border-top-left-radius: 6px; -ms-border-top-left-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; -o-border-top-right-radius: 6px; -ms-border-top-right-radius: 6px; -khtml-border-top-right-radius: 6px; border-top-right-radius: 6px; text-shadow: 1px 1px 1px white; font-size: 14px; margin-bottom: 0; font-weight: normal; }

pre.console { background-color: black; color: lime; letter-spacing: 1px; padding: 0.5em; }
pre.console .prompt { color: #8080ff; }
pre.console .prompt:before { color: white; content: "["; }
pre.console .prompt:after { color: white; content: "]"; }
pre.console .stdin { font-weight: bold; color: white; }

.CodeRay .debug { color: white !important; background: blue !important; }
.CodeRay .af { color: #0000cc; }
.CodeRay .an { color: #000077; }
.CodeRay .at { color: #ff0088; }
.CodeRay .av { color: #770000; }
.CodeRay .aw { color: #cc0000; }
.CodeRay .bi { color: #550099; font-weight: bold; }
.CodeRay .c { color: #888888; }
.CodeRay .ch { color: #0044dd; }
.CodeRay .ch .k { color: #0044dd; }
.CodeRay .ch .dl { color: #003399; }
.CodeRay .cl { color: #bb0066; font-weight: bold; }
.CodeRay .cm { color: #aa0088; font-weight: bold; }
.CodeRay .co { color: #003366; font-weight: bold; }
.CodeRay .cr { color: #00aa00; }
.CodeRay .cv { color: #336699; }
.CodeRay .de { color: #bb00bb; }
.CodeRay .df { color: #009999; font-weight: bold; }
.CodeRay .di { color: #008888; font-weight: bold; }
.CodeRay .dl { color: black; }
.CodeRay .do { color: #997700; }
.CodeRay .dt { color: #3344bb; }
.CodeRay .ds { color: #dd4422; font-weight: bold; }
.CodeRay .e { color: #666666; font-weight: bold; }
.CodeRay .en { color: #880000; font-weight: bold; }
.CodeRay .er { color: red; background-color: #ffaaaa; }
.CodeRay .ex { color: #cc0000; font-weight: bold; }
.CodeRay .fl { color: #6600ee; font-weight: bold; }
.CodeRay .fu { color: #0066bb; font-weight: bold; }
.CodeRay .gv { color: #dd7700; font-weight: bold; }
.CodeRay .hx { color: #005588; font-weight: bold; }
.CodeRay .i { color: #0000dd; font-weight: bold; }
.CodeRay .ic { color: #bb4444; font-weight: bold; }
.CodeRay .il { background: #dddddd; color: black; }
.CodeRay .il .il { background: #cccccc; }
.CodeRay .il .il .il { background: #bbbbbb; }
.CodeRay .il .idl { background: #dddddd; font-weight: bold; color: #666666; }
.CodeRay .idl { background-color: #bbbbbb; font-weight: bold; color: #666666; }
.CodeRay .im { color: red; }
.CodeRay .in { color: #bb22bb; font-weight: bold; }
.CodeRay .iv { color: #3333bb; }
.CodeRay .la { color: #997700; font-weight: bold; }
.CodeRay .lv { color: #996633; }
.CodeRay .oc { color: #4400ee; font-weight: bold; }
.CodeRay .of { color: black; font-weight: bold; }
.CodeRay .pc { color: #003388; font-weight: bold; }
.CodeRay .pd { color: #336699; font-weight: bold; }
.CodeRay .pp { color: #557799; }
.CodeRay .ps { color: #0000cc; font-weight: bold; }
.CodeRay .pt { color: #007744; font-weight: bold; }
.CodeRay .r, .CodeRay .kw { color: #008800; font-weight: bold; }
.CodeRay .ke { color: #880088; }
.CodeRay .ke .dl { color: #660066; }
.CodeRay .ke .ch { color: #8800ff; }
.CodeRay .vl { color: #008888; }
.CodeRay .rx { background-color: #fff0ff; }
.CodeRay .rx .k { color: #880088; }
.CodeRay .rx .dl { color: #440044; }
.CodeRay .rx .mod { color: #cc22cc; }
.CodeRay .rx .fu { color: #440044; font-weight: bold; }
.CodeRay .s { background-color: #fff0f0; color: #dd2200; }
.CodeRay .s .s { background-color: #ffe0e0; }
.CodeRay .s .s .s { background-color: #ffd0d0; }
.CodeRay .s .ch { color: #bb00bb; }
.CodeRay .s .dl { color: #771100; }
.CodeRay .sh { background-color: #f0fff0; color: #22bb22; }
.CodeRay .sh .dl { color: #116611; }
.CodeRay .sy { color: #aa6600; }
.CodeRay .sy .k { color: #aa6600; }
.CodeRay .sy .dl { color: #663300; }
.CodeRay .ta { color: #007700; }
.CodeRay .tf { color: #007700; font-weight: bold; }
.CodeRay .ts { color: #dd7700; font-weight: bold; }
.CodeRay .ty { color: #333399; font-weight: bold; }
.CodeRay .v { color: #003366; }
.CodeRay .xt { color: #444444; }
.CodeRay .ins { background: #aaffaa; }
.CodeRay .del { background: #ffaaaa; }
.CodeRay .chg { color: #aaaaff; background: #000077; }
.CodeRay .head { color: #ff88ff; background: #550055; }
.CodeRay .ins .ins { color: #008800; font-weight: bold; }
.CodeRay .del .del { color: #880000; font-weight: bold; }
.CodeRay .chg .chg { color: #6666ff; }
.CodeRay .head .head { color: #ff44ff; }

@import url(syntax/pygments2.css);
.showgrid { background-image: url('/images/grid.png?1311365906'); background-repeat: repeat; background-position: 2.041% 0; }
.showgrid * { background: transparent; }
.showgrid div { background: rgba(0, 0, 0, 0.125); }
