#footer-wrapper
  #footer
    .bottom_nav
      .back-to-top
        %a.ucase(href="#") &uarr; back to top
    #foot_bottom.alone
      %a.affiliate.compass(href="http://compass-style.org" title="Styled with Compass")
        Styled with Compass
      %h6
        Powered by
        %a(href="http://nanoc.stoneship.org/") Nanoc
        and
        %a(href="http://www.oddbird.net/susy/") Susy
      %h6.copyright
        &ndash; design <span class="amp">&amp;</span> content &copy; 2009 &ndash; christopher eppstein
      %h6
        &ndash; with design help and inspiration from
        %a(href="http://brandonmathis.com/") Brandon Mathis
      %h6
        &ndash;
        browse
        %a(href="http://github.com/chriseppstein/chriseppstein.github.com/tree/source") site source code

:javascript
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
:javascript
  try {
    var pageTracker = _gat._getTracker("UA-10648948-1");
    pageTracker._trackPageview();
  } catch(err) {}
