#sidebar.aside
  - if !page.respond_to?(:empty_sidebar)
    #about-me.section
      %h3 About Me
      %img.avatar(src="http://www.gravatar.com/avatar/b0ceed615487ddf041bb0d1cf24a98b0.png")
      :markdown
        I'm the Software Architect at [Caring.com](http://www.caring.com/),
        a website devoted to caregivers of the sick and elderly.
        I live in San Jose, California with my wife and our 4 year old daughter.
    .section
      %h3 Open Source
      :markdown
        I'm the creator of [Compass](http://compass-style.org/), a stylesheet authoring framework
        and I'm on the core team of
        [Sass](http://sass-lang.com/) &mdash; the stylesheet syntax upon which Compass is built.
        I maintain about a dozen less well known ruby libraries and rails plugins on
        [github](http://github.com/chriseppstein),
        and am an active contributor of patches to the many open source projects that I use.
    #twitter.section
      .header
        %h3(style="display: inline-block") Twitter
        %span
          %a(href="http://twitter.com/chriseppstein") @chriseppstein
      .tweet
      %p.follow
        %img(src="/images/twitter_bird.png")
    .section.omega
      %ol#social
        %li
          %a.twitter(href="http://twitter.com/chriseppstein" title="Follow me on Twitter")
            Twitter
        %li
          %a.github(href="http://github.com/chriseppstein" title="My Github profile")
            Github
        %li
          %a.facebook(href="http://facebook.com/chriseppstein"title="My Facebook profile")
            Facebook
        %li
          %a.linkedin(href="http://www.linkedin.com/in/chriseppstein" title="My Linked-in profile")
            Linked-in
        %li
          %a.delicious(href="http://delicious.com/chriseppstein/" title="My Delicious links")
            Delicious
    - if @show_github
      #github-badge.section.omega
