!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}
    %title= page.title
    - if page.respond_to? :description
      %meta{:name=>"description", :content=>page.description}/
    - if page.respond_to? :keywords
      %meta{:name=>"keywords", :content=>page.keywords}/
    %link{:href=>"/stylesheets/screen.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}
    %link{:href=>"/blog/atom.xml", :rel=>"alternate", :title=>"Chris Eppstein - Ruby + Web + Architect", :type=>"application/atom+xml"}
    %script{:type=>"text/javascript", :src=>"http://www.google.com/jsapi"}
    :javascript
      google.load("jquery", "1.3.2");
    %script{:type=>"text/javascript", :src=>"/javascripts/jquery.tweet.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/site.js"}
  %body{:id => page.attempt(:body_id)}
    #header_wrapper
      #header
        %h1 Chris Eppstein
        .nav
          %ul
            %li.home
              %a(href="/" title="Home") Home
            %li.work
              %a(href="/work/" title="Work") Work
            %li.blog
              %a(href="/blog/" title="Blog") Blog
        #search
          %form(action="http://www.google.com/cse" id="cse-search-box")
            %input(type="hidden" name="cx" value="010456759155788273473:m_ld19wftd4")
            %input(type="hidden" name="ie" value="UTF-8")
            %input#q(type="text" name="q")
            /%input(type="submit" name="sa" value="Search")
          
        #blog_links
          %a#rss(href="/blog/atom.xml" title="subscribe")
            %img(src="/images/rss.png")
            %span Subscribe
          %a#archive(href="/blog/archives.html" title="blog archive") Blog Archive
    #content_wrapper
      #content
        #page_wrapper
          #page
            .contents
              = content
        #sidebar.aside
          - if !page.respond_to?(:empty_sidebar)
            .section
              %h3 About Me
              %img.left(src="http://www.gravatar.com/avatar/b0ceed615487ddf041bb0d1cf24a98b0.png")
              :markdown
                I'm the Software Architect of [Caring.com](http://www.caring.com/),
                a website devoted to caregivers of the sick and elderly.
                I live in San Jose, California with my wife and our 4 year old daughter.
            .section
              %h3 Open Source
              :markdown
                I'm the creator of [Compass](http://compass-style.org/), the stylesheet authoring framework
                for professional front-end engineers and designers. I'm a member of the
                [Sass](http://sass-lang.com/) core team. I maintain about a dozen less well known
                ruby libraries and rails plugins on [github](http://github.com/chriseppstein),
                and am an active contributor of patches to the many open source projects that I use.
            #twitter.section
              .header
                %h3(style="display: inline-block") Twitter
                %span
                  follow
                  %a(href="http://twitter.com/chriseppstein") chriseppstein
              .tweet
              %p.follow
                %img(src="/images/twitter_bird.png")
            #delicious.section
              .header
                %h3(style="display: inline-block") Delicious Links
                %span=link_to('more &rarr;','http://delicious.com/chriseppstein')
              <script type="text/javascript" src="http://feeds.delicious.com/v2/js/chriseppstein?title=&count=5&sort=date&extended"></script>
            .section.omega
              %ol#social
                %li <a href="http://twitter.com/chriseppstein" class="twitter" title="Follow me on Twitter">Twitter</a>
                %li <a href="http://github.com/chriseppstein" class="github" title="My Github profile">Github</a>
                %li <a href="http://facebook.com/chriseppstein" class="facebook" title="My Facebook profile">Facebook</a>
                %li <a href="http://www.linkedin.com/in/chriseppstein" class="linkedin" title="My Linked-in profile">Linked-in</a>
                %li <a href="http://delicious.com/chriseppstein/" class="delicious" title="My Delicious links">Delicious</a>
    #footer_wrapper
      #footer
        #page_bottom
          - if page.respond_to?(:bottom_nav)
            %p= page.bottom_nav
        .bottom_nav
          .contents
            %a.ucase(href="#") &uarr; back to top
        #foot_bottom.alone
          <a href="http://compass-style.org" title="Styled with Compass" class="affiliate compass">Styled with Compass</a>
          .text_links
          %h6
            Powered by
            %a(href="http://jekyllrb.com/") Jekyll
            &ndash; design <span class="amp">&amp;</span> content &copy; 2009 &ndash; christopher eppstein
    - if page.attempt(:body_id) == "blog"
      :javascript
        (function() {
            var links = document.getElementsByTagName('a');
            var query = '?';
            for(var i = 0; i < links.length; i++) {
              if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
              }
            }
            document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/chriseppstein/get_num_replies.js' + query + '"></' + 'script>');
          })();