!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{:"http-equiv" => "refresh", :content=>"0; url=#{item[:redirect_to]}"}
  %body
    This page has <a href="#{item[:redirect_to]}">moved</a>.
