<div class="code-wrapper">
<table id="positional-document" class="comparison side-by-side">
<tr>
<th class="window-title">HTML</th>
</tr>
<tr>
<td valign="top" class="window editor">
<div>
<pre><code class="html">&lt;div class="grid"&gt;
  &lt;div id="top" class="row"&gt;
    &lt;div class="box"&gt; This is a top box &lt;/div&gt;
    &lt;div class="error-box"&gt; This is also a top box &lt;/div&gt;
  &lt;/div&gt;
  &lt;div id="middle" class="row"&gt;
    &lt;div class="important-box"&gt; This is a middle box &lt;/div&gt;
    &lt;div class="box"&gt; This is also a middle box &lt;/div&gt;
  &lt;/div&gt;
  &lt;div id="bottom" class="row"&gt;
    &lt;div class="box"&gt; This is a bottom box &lt;/div&gt;
    &lt;div class="important-box"&gt; This is also a bottom box &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>
</td>
</tr>
</table>
</div>
