$default-link-color: #b3272d !default

$default-link-color-hover: white !default

$default-link-color-alt: #91d5f1 !default

$default-link-color-hover-alt: black !default

=link-color($hover: true)
  +link-color-style($default-link-color, $default-link-color-hover, $default-link-color, $hover)

=link-color-alt($hover: true)
  +link-color-style($default-link-color-alt, $default-link-color-hover-alt, $default-link-color-alt, $hover)

=link-color-style($color: $default-link-color, $color-hover: $default-link-color-hover, $link-hover-bg: $color, $hover: true)
  color: $color
  +border-radius(3px)
  @if $hover
    &:hover
      background-color: $link-hover-bg
      color: $color-hover
      text-decoration: none
