<div class="code-wrapper">
<table id="haml-sucks-example-1" class="comparison">
<tr>
<th class="window-title">Haml with Rails Partials</th>
</tr>
<tr>
<td valign="top" class="window editor">
<div>{% highlight haml %}
.content= render :partial => "some_content"
{% endhighlight %}</div>
</td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
<th class="window-title">_some_content.html.md</th>
</tr>
<tr>
<td valign="top" class="window editor">
<div class="highlight"><pre><code>Please, \*\*For the love of \[God](http://www.god.com/),\*\*
don't use \[Haml](http://haml-lang.com) for marking-up your content!
</code></pre></div>
</td>
</tr>
</table>
</div>
