<div class="code-wrapper">
<table id="three-column-layouts" class="comparison side-by-side">
<tr>
<th class="window-title">Sass</th>
<th class="gap">&nbsp;</th>
<th class="window-title">Compiled CSS</th>
</tr>
<tr>
<td valign="top" class="window editor">
<div>
{% highlight sass %}
body.three-column
  #header-wrapper, #footer-wrapper, #page-wrapper
    +container
  #header, #footer, #page
    +column(24)
  #page
    #left-sidebar
      +column(4)
    #content
      +column(12)
    #right-sidebar
      +column(8)
      +last
{% endhighlight %}
</div>
</td>
<td class="gap">&nbsp;</td>
<td valign="top" class="window editor">
<div>
{% highlight css %}
body.three-column #header-wrapper,
body.three-column #footer-wrapper,
body.three-column #page-wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
body.three-column #header-wrapper,
body.three-column #footer-wrapper,
body.three-column #page-wrapper {
  display: block;
}
body.three-column #header,
body.three-column #footer,
body.three-column #page {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
* html body.three-column #header,
* html body.three-column #footer,
* html body.three-column #page {
  overflow-x: hidden;
}
body.three-column #page #left-sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
* html body.three-column #page #left-sidebar {
  overflow-x: hidden;
}
body.three-column #page #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
* html body.three-column #page #content {
  overflow-x: hidden;
}
body.three-column #page #right-sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
}
* html body.three-column #page #right-sidebar {
  overflow-x: hidden;
}
{% endhighlight %}
</div>
</td>
</tr>
</table>
</div>
